{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h3 class="display-4">Detalhes da Saída {{ outflow.id }}</h3>

    <div class="card">
      <div class="card-body">

        <div class="row">
          <h3 class="card-title col ">Cliente: {{ object.client }}</h3>
          <h3 class="card-title col text-end">Data Entrega: {{ object.delivery_date }}</h3>
        </div>    
        <div class="row">          
          <div class="col-6">
            {% if object.discount %}
            <p class="card-text m-0"> Desconto: <strong>R${{ object.discount }}</strong></p>
            {% endif %}
            <p class="card-text">Valor Total: <strong>R${{ outflow.total_price }}</strong></p>
          </div>
          <div class="col-6">
            <p class="text-end"><strong>{{ outflow.price_table }}</strong></p>  
          </div>
        </div>


        <h4 class="card-text"><strong>Itens:</strong></h4>
        {% if outflow.status == 'P' %}
        <a href="{% url 'outflow_item_create' outflow.id %}" class="btn btn-success
        ">Novo Item</a>
        {% endif %}
        <div class="table-responsive-sm">
          <table class="table">
            <thead>
              <tr>
                <th>Produto</th>
                <th>Peso</th>
                <th>Quantidade</th>
                <th>Preço Total</th>
                {% if outflow.status == 'P' %}
                <th>Ações</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for item in outflow.items.all %}
              <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.product.weight }}kg</td>
                <td>{{ item.quantity }}</td>
                <td>R${{ item.total_price}} </td>
                {% if outflow.status == 'P' %}
                <td>
                  <a href="{% url 'outflow_item_update' item.id %}" class="btn btn-sm btn-secondary"><i class=" bi bi-pencil" style="color: white;
                    "></i></a>
                  <a href="{% url 'outflow_item_delete' item.id %}" class="btn btn-sm btn-danger"><i class="bi bi-trash" style="color: white;
                    "></i></a>                  
              </td>
              {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        
        <p class="card-text">Observação: {{outflow.observation}}</p>
      


      </div>
    </div>

    <a href="{% url 'outflow_list' %}" class="btn btn-secondary mt-3">Voltar para a Lista de Saídas</a>
  </div>
{% endblock %}