{% extends 'base.html' %}

{% block title %}
ICE - Estoque
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h3 class="display-4">Estoque</h3>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Itens:</h3>
      <div class="table-responsive-md">
        <table class="table">
          <thead>
            <tr>
                <th>Produto</th>
                <th>Peso</th>
                <th class="text-center">Qt em Estoque</th>
                <th class="text-center">Qt Prevista</th> <!-- Nova coluna para Quantidade Prevista -->
            </tr>
          </thead>
          <tbody>
            {% for item in stock %}            
            <tr class="">
                <td>{{ item.product.title }}</td>
                <td>{{ item.product.weight }}kg</td>                
                <td class="text-center">{{ item.quantity }}</td>
                <td class="text-center">{{ item.pending_quantity|default:"0" }}</td>
            </tr>           
            {% endfor %}            
          </tbody>
          {% include 'components/_pagination.html' %}
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
