{% extends 'base.html' %}
{% block title %} ICE - Dashboard {% endblock %}

{% block content %}
<div class="container mt-4">
    <h3 class="display-4">Dashboard</h3>

    <div class="row mt-4">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total de Vendas</h5>
                    <h6 class="card-subtitle mb-2 text-muted">R${{ total_sales }}</h6>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total de Compras</h5>
                    <h6 class="card-subtitle mb-2 text-muted">R${{ total_purchases }}</h6>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total de Lucro</h5>
                    <h6 class="card-subtitle mb-2 text-muted">R${{ total_profit }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}